body {
  /* Fallback for old browsers */
  background: #6a11cb; /* Fallback boja */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #DDDEE5, #2B3D5B); /* Svetlo siva do hladno siva */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #DDDEE5, #2B3D5B); /* Svetlo siva do hladno siva */
}
